<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@RenderSection("css", true)
</head>
<body ng-app="APP">
	<div>
		@RenderBody()
	</div>
	<script src="~/node_modules/angular/angular.js"></script>
	<script src="~/node_modules/angular-animate/angular-animate.js"></script>
	<script src="~/node_modules/angular-aria/angular-aria.js"></script>
	<script src="~/node_modules/angular-material/angular-material.js"></script>
	<script src="~/AngularApp/app.js"></script>
	@RenderSection("scripts", true)
</body>
</html>
