@{
	ViewBag.Title = "Научные специальности РФ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/upload.css" rel="stylesheet"/>
}

@section scripts{
	<script src="~/AngularApp/Controllers/uploadController.js"></script>
}

<div ng-controller="uploadController">
	<div ng-if="isPageVisible()">
		<h1>Загрузка RDF-триплетов</h1>
		<p>Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. Описание валидации. </p>
		<form>
			
		</form>
	</div>
	<div ng-if="!isPageVisible()">
		<h1 class="authorization-error">Страница недоступна для роли "{{role}}"</h1>
	</div>
</div>