.detail-page-properties { margin-top: 50px; }

.detail-page-property {
	display: flex;
	margin-bottom: 20px;
}

.detail-page-property-key {
	font-weight: bold;
	margin-right: 25px;
	text-align: right;
	width: 30%;
}

.detail-page-property-key:after { content: ":"; }

.detail-page-property-value { width: 80%; }