.grid {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 15px 0;
	width: 100%;
}

.grid td, .grid th { border: 1px solid black; }

.grid .progress-container { zoom: 8; }

.grid .grid-body {
	margin: 0 3% 50px;
	width: 94%;
}

.grid .grid-item { text-align: center; }

.grid .header .grid-item {
	background-color: #3f51b5;
	color: #FFFFFF;
	cursor: default;
	font-weight: bold;
	height: 64px;
	padding-top: 18px;
}

.grid .body .item { cursor: pointer; }

.grid .body .item:hover .grid-item { background-color: rgba(50, 205, 50, 0.3); }

.grid-progress-container { zoom: 4; }

.grid-actions { width: 15%; }

.grid-links { width: 40%; }