.layout {
	height: 100%;
}

.italic {
	font-style: italic;
}

.modal-header {
	text-align: center;
}

.modal-container {
	margin: 20px 50px;
	width: 450px;
}

	.modal-container md-input-container.md-block {
		width: 95%;
	}


.authorization-error {
	color: red;
	text-align: center;
	margin-top: 100px;
}

.pull-right {
	float: right;
}
