.user-management-grid {
	
}

.user-management-grid-id {
	width: 10%	
}

.user-management-grid-name {
	width: 30%	
}

.user-management-grid-role {
	width: 20%
}

.user-management-grid-buttons {
	width: 40%;
}